@media screen and (max-width: 480px){
  header {
      height:10vh;
  }
  .logo{
      height: 5vh;
  }
  .header-right p{
      font-size: 20pt;
  }

  .projects-wrapper{
    height: 40vh;
  }
  .projects-wrapper2{
      /* margin-top: 40vh; */
  }

  .project-name{
    font-size: 18pt;
  }


  .carousel{
    width: 208px;
    height: 117px;
    margin-top: 3vh;
    perspective: 5000px;
  }

  .carousel nav {
    z-index: 10000;
  }
  .carousel nav img {
    height: 30px;
  }

  .figure img{
    width: 208px;
  }

  /* .carousel nav{
    display: none;
  } */


  .transparent{
    /* display: none; */
    width: 208px;
    height: 117px;
    /* border: 3px solid red; */
  }




  .flex-box li{
    width: 45%;
  }
}
