.shutter{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0);/**/
    z-index:9999;
	transform: scale(1);
	display: none;/**/
}

html,body{
	overflow: visible/**/
	/*
https://qumeru.com/magazine/278
	*/
}

.main{
    transform: scale(1);/**/
	transform-origin: top;
	transition:all 1s;
	/*
	-webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    -ms-filter:blur(10px);
	*/
    filter:blur(0px);/**/
}

.people{
	z-index: 99;
}
.person{
	/*width: 10vw;*/
	height:20vw;
	z-index: 99;
}
.A{
	/*background-color:rgba(255,0,0,0.5);*/
	left: 4%;
}
.B{
	/*background-color:rgba(0,255,0,0.5);*/
	left: 18%;
}
.C{
	/*background-color:rgba(0,0,255,0.5);*/
	left: 32%;
}
.D{
	/*background-color:rgba(0,255,255,0.5);*/
	left: 46%;
}
.E{
	/*background-color:rgba(255,0,255,0.5);*/
	left: 58%;
}
.F{
	/*background-color:rgba(0,255,255,0.5);*/
	left: 72%;
}
.G{
	/*background-color:rgba(0,255,255,0.5);*/
	left: 86%;
}
.barL{
	background-color: #b5d1dd;
	transition:all 1s;
	height:3vh;
	width:60vw;
	top:84vh;
	position:fixed;
	z-index: 99;
}
.barR{
	background-color: #b5d1dd;
	transition:all 1s;
	height:3vh;
	width:55vw;
	top:74vh;
	left:55vw;
	position:fixed;
	z-index: 97;
}
.click-guideL-wrapper{
	top:45vh;
	position:fixed;
	transition:all 1s;
	left:-700px;
}
.click-guideL{
	position:relative;
	height:8vh;
	width:500px;
	width:30vw;
	/*left: -700px;*/
	padding-top: 1vh;
	padding-left: 5vw;
	background-color:rgba(0,0,0,0.6);
	color: white;
	font-size: 20px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
}
.click-guideR-wrapper{
	top:35vh;
	right:-700px;
	position:fixed;
	transition:all 1s;
}
.click-guideR{
	position:relative;
	height:70px;
	width:400px;
	padding-top: 12px;
	padding-left: 100px;
	background-color:rgba(0,0,0,0.6);
	color: white;
	font-size: 20px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	/*background-color: blue;*/
}
.moveL{
	transition:all 1s;
	top:55vh;
	position:fixed;
	z-index: 98;
}
.moveR{
	transition:all 1s;
	top:45vh;
	position:fixed;
	z-index: 96;
}
.moveL-move{
	visibility: hidden;
	opacity: 0;
	transform: translateX(-60vw);
}
.moveR-move{
	visibility: hidden;
	opacity: 0;
	transform: translateX(60vw);
}

.video-background{
	width: 100%;
	height: 100%;
	position:relative;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
	transition: all 1s;
}
.video-window{
	background: linear-gradient(
        135deg,
        rgb(233, 247, 254) 0%,
        rgb(156, 201, 227) 25%,
        rgb(92, 177, 227) 50%,
        rgb(134, 105, 174) 75%,
        rgb(200, 37, 143) 100%
    );
	border-radius: 50px;
	height: 80vh;
  	width:70vw;
	top:10vh;
	left: 15vw;
  	position:absolute;
  	margin:auto;
  	color: white;
  	z-index: 100;
	transition: all 1s;
	/*text-align: center;*/

}
.video-project{
	position: relative;
	height:76vh;
	width:66vw;
	top:2vh;
	left:2vw;
	z-index: 100;
	margin:0 auto;
	padding: auto;
}
.arrow{
	display: block;
    width: 2vw;
    height: 2vw;
	position: relative;
	top:-3%;
	left:34vw;
    border-top: solid 3px white;
    border-right: solid 3px white;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
	/*
	width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
	*/
}


