/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color:white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


header{
  background-color:white;
  width:100%;
  height:20vh;
  position:fixed;
  z-index:10;
  /* border: 3px solid red; */
}
.container{
  width:90%;
  margin:0 5vw;
}
.header-left{
  float:left;
}
.header-right{
  float:right;
}
.header-right p{
  font-size: 30pt;
  cursor: pointer;
}
.logo{
  height: 20vh;
}
.projects-wrapper{
  padding-top:20vh;
  /* text-align:center; */
  position: relative;
}




/* 3D carousel */
.carousel {
  position: absolute;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  /* border: 3px solid red; */
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 50%;
  transform-style: preserve-3d;
  transition: transform 1s;
  display: inline;
}
.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
  vertical-align: middle;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  /* border: 3px solid red; */
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 10vh 1vw;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
  height: 5vh;
  z-index: 50;
}
.carousel nav button:hover {
  color: red;
}

.carousel nav button.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
}






/* List */
.projects-wrapper2{
  padding-top:70vh;
  width: 90vw;
  margin: 0 auto;
  /* position: relative; */
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.flex-box li{
  width: 23%;
  /* margin: 0 0 0 auto; */
  /* border: 3px solid red; */
}
.flex-box img {
  width: 100%;
  margin: 10% 0 auto;
}
