/* CSSのリセット（消さないでください） */

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color:white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


header{
  background-color:white;
  width:100%;
  height:10vh;
  margin: auto;
  /* position:fixed; */
  z-index:10;
  /* border: 3px solid red; */
}


.container{
  width:90%;
  margin:0 5vw;
  /* border: 3px solid red; */
}

.header-left{
  float:left;
}
.header-middle p{
  font-size: 10pt;
  width: 70vw;
  cursor: pointer;
  text-align: center;
  /* border: 3px solid red; */

}
.header-right{
  float: right;
  height: 10vh;
}
.header-right p{
  color: gray;
  font-size: 30pt;
}
.logo{
  height: 10vh;
}

.projects-wrapper{
  margin:0 auto;
  margin-top:3vh;
  height: 60vh;
  width: 90vw;
  position: relative;
  align-items: center;
  overflow-x: hidden;
  /* border: 3px solid blue; */
  /* padding: 70px 0; */

}
.project-name{
  /* font-size: 40pt; */
  padding-bottom: 2vh;
  text-align:center;
  /* border: 3px solid red; */
}



/* 3D carousel */
.carousel {
  margin: 0 auto;
  margin-top: 10vh;
  width: 320px;
  height: 180px;
  position: relative;
  perspective: 2000px;
  /* border: 3px solid red; */
}
/* .carousel > * {
  flex: 0 0 auto;
} */
.figure {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  /* border: 3px solid red; */
  /* vertical-align: center; */

}
.figure img {
  display: block;
  position: absolute;
  width: 320px;
  /* height: 30vh; */
  /* opacity: 0.5; */
  filter: grayscale(95%);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.carousel nav {
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: center;
  z-index: 30;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
  /* border: 3px solid red; */
}
.carousel nav img {
  /* position: absolute; */
  flex: 0 0 auto;
  cursor: pointer;
  margin: auto 30vw;
  z-index: 30;
  /* color: #333; */
  background: none;
  padding: 5px 5px;
  height: 10vh;
}

.transparent{
  position: absolute;
  width: 40vw;
  height: 40vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 50;
  cursor: pointer;
}

/* .carousel nav button img{
  height: 100%;
  z-index: 40;
} */
/* .carousel nav button:hover {
  color: red;
} */

/* .carousel nav img.isActive{
  background: linear-gradient(45deg,#bdb9ff,#67b8ff);
  color: #000;
} */




/* List */
.projects-wrapper2{
  width: 90vw;
  margin: 0 auto;
  /* margin-top:60vh; */
  /* position: relative; */
}
.container-work{
  background-color: lightblue;
  width:90%;
  height: 10vh;
  margin:auto 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.flex-box li{
  width: 23%;
  /* margin: 0 0 0 auto; */
  /* border: 3px solid red; */
}
.flex-box img {
  width: 100%;
  margin: 10% 0 auto;
  border: 5px solid white;
}


/* visited */
