/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color: #000000;            /* 背景色 */
  /* background-image: url("../images/desktop_0619.jpg"); /* 画像 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header{
  background-color:rgba(34,49,52,0.9);
  width:100%;
  height:10vh;
  position:fixed;
  z-index:10;
}
.container{
  width:90%;
  margin:0 5%;
}
.header-left{
  float:left;
}
.logo{
  height: 10vh;
  z-index:5;
}
.header-right{
  float:right;
  line-height:10vh;
}
.lobby{
  background-color:rgba(255,255,255,0.3);
  padding:0 25px;
  display:inline-block;
  color:white;
}
.lobby:hover{
  transition:all 0.5s;
  background-color:rgba(255,255,255,0.5);
}
.video-wrapper{
  padding-top:10vh;
  text-align:center;
  height:70vh;
  width:100vw;
  position:fixed;
  /* margin-bottom: 10vh; */
  /* border: 3px solid red; */
}
.thumbnail-wrapper{
  height:70vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail{
  width: 60%;
  transition:all 1s;
}
.thumbnail-StrongMosaic{
  -ms-filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}
.thunbnail-WeakMosaic{
  -ms-filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.video-project{
  width: 60%;
  height: 100%;
  display:none;
}
.abstract-wrapper{
  width:100vw;
  position:relative;
  top:60vh;
  transition:all 1s;
  z-index: 100;
  opacity: 1;
  /* padding-top: 85vh; */
  /* border: 3px solid red; */

}
.abstract{
  background-color:rgba(34,49,52,0.9);
  height: 50vh;
  width:70vw;
  position:relative;
  margin:auto;
  color: white;
  z-index: 100;
  /* border: 3px solid red; */
}
.abstract-wrapper-move{
  transform: translateY(40vh);
  visibility: hidden;
  opacity: 0;
}
.people{
  z-index: 99;
}
.person{
  width: 10vw;
  height:30vh;
  z-index: 99;
}
.a{
  background-color:rgba(255,0,0,0.5);
  left: 5%;
  top:50vh;
  position:fixed;
}
.b{
  background-color:rgba(0,255,0,0.5);
  left: 25%;
  top:50vh;
  position:fixed;
}
.c{
  background-color:rgba(0,0,255,0.5);
  left: 45%;
  top:50vh;
  position:fixed;
}
.d{
  background-color:rgba(255,0,255,0.5);
  left: 65%;
  top:50vh;
  position:fixed;
}
.e{
  background-color:rgba(0,255,255,0.5);
  left: 85%;
  top:50vh;
  position:fixed;
}
.moveL{
  transition:all 2s;
}
.moveR{
  transition:all 2s;
}
.moveL-move{
  visibility: hidden;
  opacity: 0;
  transform: translateX(-60vw);
}
.moveR-move{
  visibility: hidden;
  opacity: 0;
  transform: translateX(60vw);
}
.people-delete{
  display: none;
}
